/* Box branco com conteúdo */
.box-sobre {
  position: relative;
  z-index: 2;
  max-width: 960px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #333;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}
.texto-sobre p {
  text-align: justify;
}

/* SOBRE */
/* Seção com fundo de imagem e camada escura */
.sobre-com-fundo {
  background-image: url('/img/fundo-gigantes1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 20px;
  position: relative;
  flex-grow: 1;
}

.sobre-com-fundo::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* camada escura */
  z-index: 1;
}
